/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
li {
  list-style: none;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.link {
  color: #4e75ff;
}
